@tailwind base;
@tailwind components;
@tailwind utilities;

.fade-in-text {
  animation: fadeIn 500ms;
  -webkit-animation: fadeIn 500ms;
  -moz-animation: fadeIn 500ms;
  -o-animation: fadeIn 500ms;
  -ms-animation: fadeIn 500ms;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-o-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-ms-keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.gr-bg {
  background-image: url("/images/bg/gr-bg.jpg");
  background-size: 122.375rem 100%;
  height: 32.9375rem;
}

@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");
::-webkit-scrollbar {
  display: none;
}
html {
  -webkit-font-smoothing: antialiased;
}

.bgHomeExample {
  background-image: url("/images/bg/endless-constellation.svg");
}